<aside class="col-3">

 <article class="card mb-2">
        <div class="card-header">
            Voitures
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_cars_index')}}">Liste des Voitures</a></p>
            <p><a href="{{path('admin_cars_new')}}">Ajouter une voiture</a></p>
        </div>
    </article>
        <article class="card mb-2">
        <div class="card-header">
            Marques
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_brands_index')}}">Liste des marques</a></p>
            <p><a href="{{path('admin_brands_new')}}">Ajouter une marque</a></p>
        </div>
    </article>
    <article class="card mb-2">
        <div class="card-header">
            Modèles
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_models_index')}}">Liste des modèles</a></p>
            <p><a href="{{path('admin_models_new')}}">Ajouter un modèle</a></p>
        </div>
    </article>
        <article class="card mb-2">
        <div class="card-header">
            Commentaires
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_comments_index')}}">Liste des commentaire</a></p>
        </div>
    </article>
    {% if is_granted('ROLE_ADMIN') %}
    <article class="card mb-2">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_users_index')}}">Liste des utilisateurs</a></p>
            <p><a href="{{path('app_register')}}">Ajouter un utilisateur</a></p>
        </div>
    </article>
    <article class="card mb-2">
        <div class="card-header">
            Services
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_services_index')}}">Liste des Services</a></p>
        </div>
    </article>
    <article class="card mb-2">
        <div class="card-header">
            Horaires
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_times_index')}}">Liste horaire</a></p>
        </div>
    </article>
    {% endif %}

       
</aside>

