{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur la page d'Acceuil</h1>
<section class="vh-100">
    <div class="col-9 m-auto">
        <h2>Nos services</h2>

        <div class="row m-auto">
            {% for service in services %}
                <div class="col-4 mx-3">
                    <img src="{{ asset(service.picture) }}" alt="">
                    <h4>{{ service.name }}</h4>
                    <p>{{ service.description }}</p>
                </div>
            {% endfor %}
        </div>

    </div>
</section>

<section class="vh-100">
<div class="text-center">
    <h2>Votre avis nous intéresse !</h2>
    <p>*****/5 sur 20054 avis</p>
</div>
<div  class="d-flex justify-content-center">

{% for comment in comments %}
    <div class="card col-3 m-5">
      <div class="card-body">
        <h5 class="card-title">{{ comment.lastname}} - {{ comment.firstname }}</h5>
        <div class="card-text d-flex m-auto">
            <p>{{ comment.content }}</p>
        </div>
        <span>{{ comment.createdAt }}</span>
    </div>
    </div>
    {% endfor %}
</div>
</section>
{% endblock %}
