{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
        <section class="car">
            <h2>Nouveaux véhicules d'occasions</h2>
            <div class="container">
                {% for car in cars %}
                <div class="group">
                    <img src={{ asset("assets/uploads/" ~ car.pictures[0].title) }} alt="{{ car.pictures[0].title }}">
                    <div class="text d-flex justify-content-between align-items-end w-100 px-3">
                        <div>
                            <h4>{{ car.getModel.name }}</h4>
                            <h4>{{ car.price }} €</h4>
                        </div>
                        <div>
                            <a href="{{ path('cars_show', {'ref': car.ref }) }}">
                                <i class="bi bi-arrow-right-circle fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a href="{{ path('cars_index') }}">
                <button class="btn-infos d-flex align-items-center m-auto">Découvrez nos occasions</button>
            </a>
        </section>

        <section class="service">
            <h2>Garages Drivescares, situé à Toulouse : Mécanique, Révision, Entretien, Pneumatiques</h2>
            <p class="w-75 m-auto text-center">
                DRIVESCARES vous propose des prestations complètes incluant la peinture et la réparation de votre carrosserie,
                l’entretien et la réparation de vos différents problèmes mécaniques,
                révisions mais aussi les interventions sur vos pneumatiques.
            </p>

            <div class="row w-75 m-auto justify-content-center">   

                <div class="card m-3 p-0 shadow-sm" style="max-width: 540px;">
                <div class="row g-0">
                    <img class="col-md-4" src={{ asset('assets/uploads/service2.jpg') }} alt="">  
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Révision et contrôle de véhicule</h5>
                        <p class="card-text">
                            Révision, contrôle du véhicule et remplacement des filtres,
                            remplacement des bougies et des bobines,
                            liquide de frein sont tout autant de prestations que nous proposons pour le bon fonctionnement de votre véhicule.
                        </p>
                    </div>
                    </div>
                </div>
                </div>

                <div class="card m-3 p-0 shadow-sm" style="max-width: 540px;">
                <div class="row g-0">
                    <img class="col-md-4" src={{ asset('assets/uploads/service3.jpg') }} alt=""> 
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Vidange filtre à huile moteur</h5>
                        <p class="card-text">
                            Lors de l’usage quotidien de votre voiture, 
                            l’huile du réservoir tend à se dégrader et à perdre ses propriétés. 
                            C’est pour cela qu’il faut faire régulièrement une vidange pour assurer 
                            la bonne qualité de ce liquide pour la longévité de l’automobile et le bon fonctionnement du moteur.
                        </p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="card m-3 p-0 shadow-sm" style="max-width: 540px;">
                <div class="row g-0">
                    <img class="col-md-4" src={{ asset('assets/uploads/service1.jpg') }} alt="">  
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Changement de pneux</h5>
                        <p class="card-text">
                            Un pneu de mauvaise qualité réduit les performances du véhicule en augmentant la distance de freinage 
                            et le risque de dérapage. En outre, une pression inadéquate ou des pneus usés augmentent la consommation de carburant, 
                            les émissions de CO2 et réduisent considérablement la sécurité des passagers du véhicule.
                        </p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="card m-3 p-0 shadow-sm" style="max-width: 540px;">
                <div class="row g-0">
                    <img class="col-md-4" src={{ asset('assets/uploads/service4.jpg') }} alt="">  
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Carrosserie</h5>
                        <p class="card-text">
                            Une réparation de la carrosserie permettra de restaurer l'état d'origine de votre véhicule et de préserver sa valeur. 
                            N'attendez pas que les dommages s'aggravent et faites appel à des professionnels pour réparer votre carrosserie.
                        </p>
                    </div>
                    </div>
                </div>
                </div>
              
            </div>   
        </section>

    <section class="avis">
        <div class="center">
            <h2>Vos avis nous intéresse ! <a href="{{ path('comments_new') }}">Par ici !</a></h2>
                <div class="ratings">
                    <i class="fa fa-star avg" data-star="1"></i>
                    <i class="fa fa-star avg" data-star="2"></i>
                    <i class="fa fa-star avg" data-star="3"></i>
                    <i class="fa fa-star avg" data-star="4"></i>
                    <i class="fa fa-star avg" data-star="5"></i>
                    <p> sur {{ count }} avis</p>
                </div>
            <input type="hidden" value={{ average }} id="average"/>
            <a href="{{ path('comments_index') }}">Voir tous les commentaires</a>
        </div>
    
        <div class="container">
        {% for comment in comments %}
        {% if comment.valid %}
            <div class=" card card-body m-3 w-50">
                <h5>{{ comment.firstname }} - {{ comment.lastname}}</h5>
                <div class="ratings">
                    <i class="fa fa-star notes" data-star="1" data-id={{comment.id}}></i>
                    <i class="fa fa-star notes" data-star="2" data-id={{comment.id}}></i>
                    <i class="fa fa-star notes" data-star="3" data-id={{comment.id}}></i>
                    <i class="fa fa-star notes" data-star="4" data-id={{comment.id}}></i>
                    <i class="fa fa-star notes" data-star="5" data-id={{comment.id}}></i>
                </div>
                <input type="hidden" value={{ comment.note }} data-id={{comment.id}} id="notes"/>
                <p>{{ comment.content }}</p>
                <p>Publié le {{ comment.createdAt.format('d/m/Y') }}</p>
            </div>                
        {% endif %}
        {% endfor %}
        </div>
    </section>
     {% block javascript %}
        <script src="{{ asset('assets/js/notes.js') }}"></script>
        <script src="{{ asset('assets/js/averages.js') }}"></script>
    {% endblock %}   
{% endblock %}
