{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
        <h2>Bienvenue sur la page d'Acceuil</h2>

        <section class="vh-100 col-9 m-auto">
            <h2>Nouvelles arrivées</h2>
            <div class="d-flex justify-content-center">
                {% for car in cars %}
                    <div class="mx-3">
                        <img src={{ asset("assets/uploads/" ~ car.pictures[0].title) }} alt="{{ car.pictures[0].title }}">
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="vh-100 col-9 m-auto">
            <h2 class="text-center">Nos services</h2>
            <div class="row d-flex justify-content-center">
            {% for service in services %}
                <div class="card mb-3 mx-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src={{ asset(service.picture) }} class="img-fluid rounded-start" alt="{{ service.name }}">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.name }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                    </div>
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>    
        </section>

    <section class="vh-100">
        <div class="text-center">
            <h2>Votre avis nous intéresse ! <span><a href="{{ path('comments_new') }}">Par ici !</a></span></h2>
            <p>*****/5 sur 20054 avis</p>
            <span><a href="{{ path('comments_index') }}">Voir tous les commentaires</a></span>
        </div>
    
        <div  class="row d-flex justify-content-center mt-3">
        {% for comment in comments %}
        {% if comment.valid %}
            <div class="card col-3 mx-3">
            <div class="card-body">
                <h5 class="card-title">{{ comment.lastname}} - {{ comment.firstname }}</h5>
                <div class="card-text d-flex m-auto">
                    <p>{{ comment.content }}</p>
                </div>
                <span>{{ comment.createdAt }}</span>
            </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </section>

{% endblock %}
