{% extends "base.html.twig" %}

{% block title %}Mecanique{% endblock %}

{% block body %}

<h2>Mecanique</h2> 
<section class="min-vh-100">
    <div class="row justify-content-center">
    <div class="card col-sm-8 col-md-2 m-3">
        <img src={{ asset('assets/uploads/service2.jpg') }} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Changement pneus</h5>
            <div class="card-text d-flex m-auto">
                <ul class="list-unstyled">
                    <li>Changements Pneus</li>
                    <li>Montage et équilibrage</li>
                    <li>Géométrie et parallélisme</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-sm-8 col-md-2 m-3">
        <img src={{ asset('assets/uploads/service2.jpg') }} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Changement pneus</h5>
            <div class="card-text d-flex m-auto">
                <ul class="list-unstyled">
                    <li>Changements Pneus</li>
                    <li>Montage et équilibrage</li>
                    <li>Géométrie et parallélisme</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-sm-8 col-md-2 m-3">
        <img src={{ asset('assets/uploads/service2.jpg') }} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Changement pneus</h5>
            <div class="card-text d-flex m-auto">
                <ul class="list-unstyled">
                    <li>Changements Pneus</li>
                    <li>Montage et équilibrage</li>
                    <li>Géométrie et parallélisme</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-sm-8 col-md-2 m-3">
        <img src={{ asset('assets/uploads/service2.jpg') }} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Changement pneus</h5>
            <div class="card-text d-flex m-auto">
                <ul class="list-unstyled">
                    <li>Changements Pneus</li>
                    <li>Montage et équilibrage</li>
                    <li>Géométrie et parallélisme</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-sm-8 col-md-2 m-3">
        <img src={{ asset('assets/uploads/service2.jpg') }} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Changement pneus</h5>
            <div class="card-text d-flex m-auto">
                <ul class="list-unstyled">
                    <li>Changements Pneus</li>
                    <li>Montage et équilibrage</li>
                    <li>Géométrie et parallélisme</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-sm-8 col-md-2 m-3">
        <img src={{ asset('assets/uploads/service2.jpg') }} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Changement pneus</h5>
            <div class="card-text d-flex m-auto">
                <ul class="list-unstyled">
                    <li>Changements Pneus</li>
                    <li>Montage et équilibrage</li>
                    <li>Géométrie et parallélisme</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-sm-8 col-md-2 m-3">
        <img src={{ asset('assets/uploads/service2.jpg') }} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Changement pneus</h5>
            <div class="card-text d-flex m-auto">
                <ul class="list-unstyled">
                    <li>Changements Pneus</li>
                    <li>Montage et équilibrage</li>
                    <li>Géométrie et parallélisme</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-sm-8 col-md-2 m-3">
        <img src={{ asset('assets/uploads/service2.jpg') }} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Changement pneus</h5>
            <div class="card-text d-flex m-auto">
                <ul class="list-unstyled">
                    <li>Changements Pneus</li>
                    <li>Montage et équilibrage</li>
                    <li>Géométrie et parallélisme</li>
                </ul>
            </div>
        </div>
    </div>
   </div>
</section>
    

{% endblock %}