{% extends "base.html.twig" %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}
    <section class="row m-3">
       {% include "_partials/_adminNavbar.html.twig"%}
        <div class="col-9">
        <h2>Liste des utilisateurs</h2>
        <a href="{{ path('app_register') }}"><button class="btn btn-primary">Ajouter</button></a>
            <table class="table">
            <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>email</th>
                <th>Téléphone</th>
                <th>Rôles</th>
                <th>Vérifié</th>
                <th>Actions</th>
            </thead>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</thead>
                    <td>{{user.lastname}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            {% set name = "Administrateur" %}
                            {% set color = "danger" %}
                        {% elseif role == "ROLE_PRODUCT_ADMIN" %}
                            {% set name = "Admin Product" %}
                            {% set color = "warning" %}
                        {% else %}
                            {% set name = "Employé" %}
                            {% set color = "success" %}
                        {% endif %}
                        <span class="badge bg-{{color}}">{{ name }}</span>
                    {% endfor %}
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="switch{{ user.id }}" {{ user.isVerified ? "checked" : "" }} disabled>
                        </div>
                    </td>
                    <td class="d-flex">
                        <a href="{{ path('admin_users_show', {'id': user.id}) }}">
                             <button class="btn btn-info mx-2">Voir</button>
                        </a>
                        <a href="{{ path('admin_users_edit', {'id': user.id}) }}">
                             <button class="btn btn-warning">Modifier</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}