{% extends "base.html.twig" %}

{% block title %}Delete User{% endblock %}

{% block body %}
    <div class="col-9 m-auto mx-auto my-3">
        <h2>Détails de {{ user.lastname }} {{ user.firstname }}</h2>
        <table class="table">
            <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>email</th>
                <th>Téléphone</th>
                <th>Rôle</th>
                <th>Vérifié</th>
                <th>Actions</th>
            </thead>
            
            <tr>
                <th scope="row">{{ user.id }}</thead>
                <td>{{user.lastname}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            {% set name = "Administrateur" %}
                            {% set color = "danger" %}
                        {% elseif role == "ROLE_PRODUCT_ADMIN" %}
                            {% set name = "Admin Product" %}
                            {% set color = "warning" %}
                        {% else %}
                            {% set name = "Employé" %}
                            {% set color = "success" %}
                        {% endif %}
                        <span class="badge bg-{{color}}">{{ name }}</span>
                    {% endfor %}
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="switch{{ user.id }}" {{ user.isVerified ? "checked" : "" }} disabled>
                        </div>
                    </td>
                <td class="d-flex">
                    <a href="{{ path('admin_users_edit', {'id': user.id}) }}">
                        <button class="btn btn-warning mx-1">Modifier</button>
                    </a>
                    {{ include('admin/users/_delete.html.twig') }}
                </td>
            </tr>
        </table>

        <a href="{{ path('admin_users_index') }}">
            <button class="btn btn-info">Retour à la liste</button>
        </a>
    </div>
{% endblock %}
