{% extends "base.html.twig" %}

{% block title %}Index horaires{% endblock %}

{% block body %}
    <section class="row">
        {% include "_partials/_adminNavbar.html.twig" %}
        <div class="col-9">
        <h2>Liste des Horaires</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Jours</th>
                    <th>Ouverture matin</th>
                    <th>Fermeture matin</th>
                    <th>Ouverture après-midi</th>
                    <th>Fermeture après-midi</th>
                </thead>
                {% for time in times %}
                    <tr>
                        <th scope="row">{{ time.id }}</thead>
                        <td>{{time.day}}</td>
                        <td>{{time.openAm.format('H:i')}}</td>            
                        <td>{{time.closeAm.format('H:i')}}</td>            
                        <td>{{time.openPm.format('H:i')}}</td>            
                        <td>{{time.closePm.format('H:i')}}</td>            
                        <td class="d-flex">
                            <a href="{{ path('admin_times_show', {'id': time.id}) }}"><button class="btn btn-info">Détails</button></a>
                            <a href="{{ path('admin_times_edit', {'id': time.id}) }}"><button class="btn btn-warning">Modifier</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </section>
{% endblock %}