{% extends 'base.html.twig' %}

{% block title %}Workshops index{% endblock %}

{% block body %}
    <h1>Workshops index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workshop in workshops %}
            <tr>
                <td>{{ workshop.id }}</td>
                <td>{{ workshop.name }}</td>
                <td>{{ workshop.address }}</td>
                <td>{{ workshop.zipcode }}</td>
                <td>{{ workshop.city }}</td>
                <td>
                    <a href="{{ path('admin_workshops_show', {'id': workshop.id}) }}">show</a>
                    <a href="{{ path('admin_workshops_edit', {'id': workshop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_workshops_new') }}">Create new</a>
{% endblock %}
