<div class="table-responsive">
<table class="table">
    <thead>
        <th>#</th>
        <th>Marque</th>
        <th>Modèle</th>
        <th>Prix</th>
        <th>Year</th>
        <th>Km</th>
        <th>Moteur</th>
        <th>Couleur</th>
        <th>Ajouté le</th>
        <th>Référence</th>
    </thead>

    {% for car in cars %}
    <tr>
        <th scope="row">{{ car.id }}</th>
        <td>{{ car.getModel.getBrand.name}}</td>
        <td>{{ car.getModel.name }}</td>
        <td>{{ car.price }}</td>
        <td>{{ car.year.format('Y') }}</td>
        <td>{{ car.km }}</td>
        <td>{{ car.motor }}</td>
        <td>{{ car.color }}</td>
        <td>{{ car.createdAt.format('Y/m/d') }}</td>
        <th>{{ car.ref }}</th>                        
        <td class="d-flex">
            <a href="{{ path('admin_cars_show', {'id': car.id}) }}"><button class="btn btn-info mx-2">Détails</button></a>
            <a href="{{ path('admin_cars_edit', {'id': car.id}) }}"><button class="btn btn-warning">Modifier</button></a>
        </td>
    </tr>
    {% endfor %}

</table>

</div>