{{ form_start(form, {'attr': {'class': 'cform'}}) }}

<div class="row">
    <div class="col">{{ form_row(form.model) }}</div>
    <div class="col">{{ form_row(form.type) }}</div>
</div>
<div class="row">
    <div class="col">{{ form_row(form.year) }}</div>
    <div class="col">{{ form_row(form.km) }}</div>
</div>
<div class="row">
    <div class="col">{{ form_row(form.motor) }}</div>
    <div class="col">{{ form_row(form.power) }}</div>  
</div>
<div class="row">
    <div class="col">{{ form_row(form.doors) }}</div>
    <div class="col">{{ form_row(form.seats) }}</div>
</div>
<div class="row">
    <div class="col">{{ form_row(form.color) }}</div>
    <div class="col">{{ form_row(form.price) }}</div>
</div>
    {{ form_row(form.description) }}
    
    <h2>Images</h2>
    {{ form_row(form.pictures) }}
    
    {% if app.request.attributes.get('_route') == 'admin_cars_edit' %}
        <div class="d-flex">
        {% for picture in car.pictures %}
            <div class="d-flex flex-column">
                <img src="{{ asset('assets/uploads/' ~ picture.title) }}" alt="Image" width="150">
                <a href="{{ path('admin_cars_delete_picture', {'id': picture.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ picture.id) }}"><button class="btn btn-danger">Supprimer</button></a>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <button class="btn {{btn|default('btn-form')}} mt-3">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}