{% extends "base.html.twig" %}

{% block title %}Ajout voiture{% endblock %}

{% block body %}
    <div class="w-75 m-auto min-vh-100">
        <h2>Modifier {{ car.getModel.getBrand.name }} {{ car.model.name }}</h2>
        {{ include('admin/cars/_form.html.twig', {'btn': 'btn-warning', 'button_label': 'Modifier'}) }}
        <a href="{{ path('admin_cars_index') }}">
            <button class="btn btn-info mt-2">Retour à la liste</button>
        </a>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/pictures.js') }}"></script>
{% endblock %}