{% extends "base.html.twig" %}

{% block title %}Index Comments{% endblock %}

{% block body %}
    <section class="m-5 d-flex flex-column align-items-center">
    <h2>Liste des commentaires</h2>
        {% for comment in comments %}
        {% if comment.valid %}
            <div class="card w-50 m-3">
            <div class="card-body">
                <h5>{{ comment.lastname}} - {{ comment.firstname }}</h5>
                <div class="card-text d-flex flex-column m-auto">
                    <span class="note">Note {{ comment.note }} / 5</span>
                    <p>{{ comment.content }}</p>
                </div>
                <p>Publié le {{ comment.createdAt.format('d/m/Y') }}</p>
            </div>
            </div>
        {% endif %}     
        {% endfor %}
    </section>
{% endblock %}