
{% for car in cars %}
<div class="card col-md-4 col-lg-3 m-3 p-0 shadow-sm">
        <img src={{ asset('assets/uploads/' ~ car.pictures[0].title) }} class="card-img-top" alt="...">
        <span>Ajouté le {{ car.createdAt.format('d/m/Y') }}</span>
        <div class="card-body">
            <h5 class="card-title">{{ car.getModel.getBrand.name}}</h5>
            <h6 class="card-title">{{ car.getModel.name }}</h6>
            <div class="card-text d-flex justify-content-around">
                <ul class="list-unstyled">
                    <li>{{ car.year.format('Y') }}</li>
                    <li>{{ car.km }}</li>
                </ul>
                <ul class="list-unstyled">
                    <li>{{ car.motor }}</li>
                    <li>{{ car.power }} Ch</li>
                </ul>
            </div>
            <div class="container justify-content-between">
                <h5>{{ car.price }} €</h5>
                 <a href="{{ path('cars_show', {'ref': car.ref}) }}">
                    <button class="btn-infos">Plus d'infos</button>
                </a>
            </div>
        </div>
    </div>
{% endfor %} 