<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFilters" aria-controls="navbarFilters" aria-expanded="false" aria-label="Toggle navigation">
      <span>Filters</span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarFilters">
          
    {{ form_start(form, {attr: {class: 'pt-3', id: 'js-filter-form'}})}}
    <div class="w-75 m-auto d-flex justify-content-evenly filters">
      
      <div class="dropdown mb-2">
        <button class="btn-sorting dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Constructeurs
        </button>
        <ul class="dropdown-menu">
          <li>{{ form_row(form.brands) }}</li>
        </ul>
      </div>

      <div class="dropdown mb-2">
        <button class="btn-sorting dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Modèles
        </button>
        <ul class="dropdown-menu">
          <li>{{ form_row(form.models) }}</li>
        </ul>
      </div>

      <div class="dropdown mb-2">
        <button class="btn-sorting dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Types
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item">{{ form_row(form.types) }}</li>
          </ul>
      </div>

      {{ form_row(form.priceMin) }}
      {{ form_row(form.priceMax) }}
      {{ form_row(form.kmMin) }}
      {{ form_row(form.kmMax) }}
      {{ form_row(form.reset, {attr: {id: 'reset', class: 'btn-sorting'}}) }}

    </div>
    {{ form_end(form) }}

    </div>
  </div>
</nav>