{% extends "base.html.twig" %}

{% block title %}Détails Véhicules{% endblock %}

{% block body %}
<section class="col-9 m-auto py-5 min-vh-100"> 
<div class="d-flex justify-content-center align-items-center">
    <div class="w-50">
        <div id="carouselExampleIndicators" class="carousel slide w-50 m-auto">   
        <div class="carousel-inner">
            {% for picture in car.pictures %}
            {% if car.pictures[0].id == picture.id %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                <img src={{ asset('assets/uploads/' ~ picture.title) }} class="d-block w-100" alt="voiture">
            </div>
            {% endfor %} 
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>         
    </div> 
     
    <div class="w-50">
        <h3>{{ car.getModel.getBrand.name }} {{ car.getModel.name }}</h3>
        <p>Publié le {{ car.createdAt.format('Y/m/d') }}</p>

        <table>
            <tr>
                <th>Année</th>
                <td>{{ car.year.format('Y') }}</td>  
            </tr>    
            <tr>
                <th>Km</th>
                <td>{{ car.km }} Km</td>
            </tr>          
            <tr>
                <th>Moteur</th>
                <td>{{ car.motor }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                 <td>{{ car.power }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ car.color }}</td>  
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ car.ref }}</td><  
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ car.price }}</td> 
            </tr>
        </table>

        
        <a href="#contact" >
            <button class="btn btn-info my-3">Nous Contacter</button>
        </a>
    </div>
</div>
    <div>
    <h3>Information véhicule</h3>
    <table class="table">
        <tr>
            <th>Type de véhicule</th>
            <td>{{ car.type.name }}</td>
        </tr>
        <tr>
           <th>Marque constructeur</th>
           <td>{{ car.getModel.getBrand.name}}</td>
        </tr> 
        <tr>
            <th>Modèle voiture</th>
            <td>{{ car.getModel.name }}</td>       
        </tr>
        <tr>
            <th>Mise en circulation</th>
            <td>{{ car.year.format('m/Y') }}</td>              
        </tr>
        <tr>
            <th>Nombre de kilomètres</th>
            <td>{{ car.km }}</td>      
        </tr>
        <tr>
             <th>Type de moteur</th>
            <td>{{ car.motor }}</td>  
        </tr>
        <tr>
             <th>Puissance</th>
            <td>{{ car.power }}</td>
        </tr>
        <tr>
            <th>Couleur</th>
            <td>{{ car.color }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ car.price }}</td>
        </tr>                    
        <tr>
            <th>Nombres de portes</th>
            <td>{{ car.doors }}</td>
        </tr>
        <tr>
            <th>Nombre de places</th>
            <td>{{ car.seats }}</td>
        </tr>
        <tr>
            <th>Référence véhicule</th>
            <td>{{ car.ref }}</td>
        </tr>       
        </table>
    </div>
    <div>
        {{ car.description }}
    </div>
</section>

<section id="contact" class="col-9 m-auto min-vh-100 py-5">
    <h2>Demande de contact</h2>
    <div class="w-75 m-auto">
    {{ form_start(form) }}
        {{ form_row(form.ref, {attr: {value: car.ref}}) }}
        {{ form_row(form.model, {attr: {value: car.model.name}}) }}
        {{ form_row(form.email) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.message) }}
    {{ form_end(form) }}
    </div>
</section>
{% endblock %}