{% extends "base.html.twig" %}

{% block title %}Comments{% endblock %}

{% block body %}
    <section class="row">
        {% include "_partials/_adminNavbar.html.twig" %}
        <div class="col-9">
        <h2>Liste des Commentaires</h2>
        <a href="#"><button class="btn btn-primary">Ajouter</button></a>
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Prénoms</th>
                    <th>Noms</th>
                    <th>Messages</th>
                    <th>Dates</th>
                    <th>Validé</th>
                </thead>
                {% for comment in comments %}
                    <tr>
                        <th scope="row">{{ comment.id }}</thead>
                        <td>{{comment.firstname}}</td>
                        <td>{{comment.lastname}}</td>
                        <td>{{comment.content}}</td>
                        <td>{{comment.createdAt}}</td>
                        <td>{{comment.isValid}}</td>
                        <td class="d-flex">
                            <a href="#"><button class="btn btn-warning mx-2">Modifier</button></a>
                            <a href="#"><button class="btn btn-danger">Supprimer</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}