{% extends "base.html.twig" %}

{% block title %}Détails Commentaires{% endblock %}

{% block body %}
    <div class="col-9 m-auto min-vh-100 mt-3">
        <h2>Détails Commentaire {{ comment.id }}</h2>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Prénoms</th>
                <th>Noms</th>
                <th>Messages</th>
                <th>Notes</th>
                <th>Dates</th>
                <th>Validé</th>
            </thead>
            <tr>
                <th scope="row">{{ comment.id }}</thead>
                <td>{{comment.firstname}}</td>
                <td>{{comment.lastname}}</td>
                <td>{{comment.content}}</td>
                <td class="note">{{comment.note}}</td>
                <td>{{comment.createdAt.format('d/m/Y')}}</td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="switch{{ comment.id }}" {{ comment.isValid ? "checked" : "" }} disabled>
                    </div>
                </td>
                <td class="d-flex">
                    <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}">
                        <button class="btn btn-warning">Modifier</button>
                    </a>
                    {% include "admin/comments/_delete.html.twig" %}
                </td>
            </tr>
        </table>
        </div>
        <a href="{{ path('admin_comments_index') }}">
            <button class="btn btn-info">Retour à la liste</button>
        </a>
    </div>
{% endblock %}