{{ form_start(form, {'attr': {'class': 'cform'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-{{color|default('form')}}">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
