{% extends 'base.html.twig' %}

{% block title %}Types index{% endblock %}

{% block body %}
<section class="row">
    {% include "_partials/_adminNavbar.html.twig" %}
    <div class="col-9">
        <h2>Types index</h2>
        <a href="{{ path('admin_types_new') }}">
            <button class="btn btn-primary">Ajouter</button>
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for type in types %}
                <tr>
                    <td>{{ type.id }}</td>
                    <td>{{ type.name }}</td>
                    <td>
                        <a href="{{ path('admin_types_show', {'id': type.id}) }}">
                            <button class="btn btn-info">Détails</button>
                        </a>
                        <a href="{{ path('admin_types_edit', {'id': type.id}) }}">
                            <button class="btn btn-warning">Modifier</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
